# ============================================================
# FRONTEND
# ============================================================
BACKEND_URL=http://localhost:8000/api/v1
# BACKEND_URL=https://cncc-portal.onrender.com/api/v1
# BACKEND_URL=http://103.248.208.109:8000/api/v1


# ============================================================
# BACKEND
# ============================================================
FIREBASE_CREDENTIALS_PATH=config/firebase-credentials.json

PREVENT_NOTIFICATIONS=False
PREVENT_DELETE_REQUESTS=True


# ============================================================
# DATABASE & STORAGE
# ============================================================
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=USER
STORAGE_SECRET_KEY=PASSWORD
STORAGE_BUCKET=cncc-files

POSTGRES_USER=cncc_admin
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=cncc_portal
