DATABASE_URL=postgresql://user:password@localhost:5432/ticket_db

STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=USER
STORAGE_SECRET_KEY=PASSWORD
STORAGE_BUCKET=cncc-files

FIREBASE_CREDENTIALS_PATH=config/firebase-credentials.json

PREVENT_NOTIFICATIONS=FALSE
PREVENT_DELETE_REQUESTS=TRUE